.page {
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Roboto', sans-serif;
}

.task-title {
  margin: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  font-family: sans-serif;
}

.task-title::before,
.task-title::after {
  content: '';
  flex: 1;
  border-bottom: 0.0625em solid grey;
  margin: 0.5em;
}

.back-button {
  margin: 1em 0em 2em 0em;
  font-size: 1.5em;
  font-weight: bold;
  color: gray;
  text-align: center;
}

.back-button-icon {
  color: #e25822;
  margin-right: 0.3em;
}

.card-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card {
  border: 0.0625em solid #e25822;
  border-radius: 0.4em;
  min-width: 22em;
  height: 20em;
  box-shadow: 0.3125em 0.3125em 0.3125em rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 1em;
  position: relative;
}
.card-title {
  margin-top: 1.5em;
  font-weight: 600;
  font-size: large;
  color: #e25822;
  margin-left: 25%;
  text-align: left;
}

.card-status--complete {
  margin-top: 2em;
  color: #e25822;
  font-weight: bolder;
  text-decoration: line-through;
  text-decoration-thickness: 0.2em;
  margin-left: 25%;
  text-align: left;
}

.card-status--pending {
  display: flex;
  margin-top: 1em;
  color: black;
  margin-left: 18%;
  font-weight: bolder;
}

.card-status-checkbox {
  margin-right: 0.5em;
}

.card-add {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  color: #e25822;
}

@media only screen and (max-device-width: 480px) {
  .card {
    width: 80%;
  }
}
