.page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.content {
  min-height: 100vh;
  min-width: 70%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1.5em;
}

.header-title {
  font-size: 3em;
  font-weight: bolder;
  font-family: sans-serif;
}

.header-sub-title {
  font-size: 1em;
  font-weight: lighter;
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.header-add {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: grey;
  font-weight: 600;
  padding-right: 1em;
}

.header-add-icon {
  color: #e25822;
  margin-right: 0.5em;
  font-size: xx-large;
}

.header-add-icon,
.card-add,
.card-delete :hover {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.card {
  border: 0.0625em solid #e25822;
  border-radius: 0.4em;
  width: 15em;
  height: 20em;
  box-shadow: 0.3125em 0.3125em 0.3125em rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 1em;
  position: relative;
}

.card-link {
  text-decoration: none;
}

.card-title {
  margin-top: 1.5em;
  font-weight: 600;
  font-size: large;
  color: #e25822;
  margin-left: 25%;
  text-align: left;
}

.card-status--complete {
  margin-top: 2em;
  color: #e25822;
  font-weight: bolder;
  text-decoration: line-through;
  text-decoration-thickness: 0.2em;
  margin-left: 25%;
  text-align: left;
}

.card-status--pending {
  display: flex;
  margin-top: 1em;
  color: black;
  font-weight: bolder;
}

.card-status-checkbox {
  margin-right: 0.5em;
}

.card-add {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  color: #1e90ff;
}

.card-delete {
  position: absolute;
  bottom: 0;
  right: 3em;
  margin: 1em;
  color: red;
}

.popup-container {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup {
  border: 0.0625em solid #e25822;
  border-radius: 0.6em;
  min-width: 25em;
  filter: blur(0em);
  background-color: white;
}

.title {
  color: #e25822;
  font-size: larger;
  margin: 1em;
}

.name {
  padding: 0.5em;
  border-radius: 0.1875em;
  font-size: 0.875em;
  margin: 1em;
  border: 0.0625em solid #e25822;
  min-width: 75%;
}

.name:focus {
  outline: none;
  border: 0.0625em solid #e25822;
}

.add-button,
.close-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0 2em;
  height: 2em;
  border-radius: 2.5em;
  color: white;
  background-color: #e25822;
  font-size: larger;
  margin: 0.5em;
}

@media only screen and (max-device-width: 480px) {
  .page {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .header {
    margin-bottom: 5em;
  }

  .header-title {
    font-size: 8.5em;
  }

  .header-add-text,
  .card-status--complete,
  .card-status--pending,
  .card-add,
  hr {
    display: none;
  }

  .header-add {
    padding: 0;
  }

  .header-add-icon {
    font-size: 4em;
    margin: 0;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    display: flex;
    width: 90%;
    height: 12em;
    border: 0.0625em solid #e25822;
    border-radius: 1.4em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.15);
    text-align: left;
    margin: 2em;
  }

  .card-title {
    font-size: 3.5em;
    margin-left: 1em;
    margin-top: 1em;
    color: #836953;
  }

  .popup {
    border: 0.0625em solid #e25822;
    border-radius: 0.6em;
    min-width: 80%;
    min-height: 30%;
    filter: blur(0em);
    background-color: white;
    border-radius: 1.4em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.15);
  }

  .title {
    color: #e25822;
    font-size: 3em;
    margin: 1em;
  }

  .name {
    font-size: 3em;
  }

  .add-button {
    font-size: 3em;
  }
}
